<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description" />
        <meta name="author" content="Your name" />

        <!-- Webpage Title -->
        <title>Input | SupplyByte</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
            <div class="container">
                <!-- Image Logo -->
                <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

                <a class="navbar-brand logo-text" href="/">SupplyByte</a>
                <button
                    class="navbar-toggler p-0 border-0"
                    type="button"
                    id="navbarSideCollapse"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#features">Features</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="ex-header">
            <div class="container-fluid pb-5">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1>Enter product Details</h1>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contact -->
        <section class="contact d-flex align-items-center mt-0 pt-0 pb-5" id="contact">
            <div class="container text-light">
                <form id="register_supplier">
                    <div class="row">
                        <div
                            class="col-lg-12 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5"
                            data-aos="fade-right"
                        >
                            <div style="width: 90%">
                                <div class="text-center text-lg-start py-4 pt-lg-0">
                                    <p>SUPPLIER</p>
                                    <h2 class="py-2">Enter your details and that of the products</h2>
                                </div>
                                <div>
                                    <p class="para-light"> Name & Address </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group py-2">
                                                <input
                                                    type="text"
                                                    required
                                                    name="name"
                                                    class="form-control form-control-input"
                                                    id="exampleFormControlInput1"
                                                    placeholder="Name of product"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group py-2">
                                                <input
                                                    type="text"
                                                    required
                                                    name="name"
                                                    class="form-control form-control-input"
                                                    id="exampleFormControlInput1"
                                                    placeholder="Name of supplier"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group py-1">
                                        <select
                                            class="form-select form-control form-control-input"
                                            required
                                            name="category"
                                            aria-label="Default select example"
                                        >
                                            <option selected>General Sales List</option>
                                            <option value="1">Pharmacy Medicines</option>
                                            <option value="2">Prescription Only Medicines</option>
                                            <option value="3">Controlled Drugs</option>
                                        </select>
                                    </div>
                                    <div class="form-group py-2">
                                        <textarea
                                            name="description"
                                            required
                                            class="form-control form-control-input"
                                            id="exampleFormControlTextarea1"
                                            rows="6"
                                            placeholder="Description of Product"
                                        ></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group py-2">
                                            <input
                                                type="text"
                                                required
                                                name="name"
                                                class="form-control form-control-input"
                                                id="exampleFormControlInput1"
                                                placeholder="Price"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group py-1">
                                        <select
                                            class="form-select form-control form-control-input"
                                            required
                                            name="range"
                                            aria-label="Default select example"
                                        >
                                            <option selected>1-20</option>
                                            <option value="1">20-50</option>
                                            <option value="2">50-100</option>
                                            <option value="3">100+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- end of div -->
                        </div>
                        <div class="my-4 me-5 pe-5 d-flex justify-content-end">
                            <button type="submit" class="btn form-control-submit-button">Submit</button>
                        </div>
                        <!-- end of col -->
                    </div>
                </form>

                <!-- end of row -->
            </div>
            <!-- end of container -->
        </section>

        <!-- Footer -->
        <section class="footer text-light">
            <div class="container">
                <div class="row" data-aos="fade-right">
                    <div class="col-lg-3 py-4 py-md-5">
                        <div class="d-flex align-items-center">
                            <h4 class="">SupplyByte</h4>
                        </div>
                        <p class="py-3 para-light">Best supply chain platform for you.</p>
                        <div class="d-flex">
                            <div class="me-3">
                                <a href="#your-link">
                                    <i class="fab fa-facebook-f fa-2x py-2"></i>
                                </a>
                            </div>
                            <div class="me-3">
                                <a href="#your-link">
                                    <i class="fab fa-twitter fa-2x py-2"></i>
                                </a>
                            </div>
                            <div class="me-3">
                                <a href="#your-link">
                                    <i class="fab fa-instagram fa-2x py-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 py-4 py-md-5">
                        <div>
                            <h4 class="py-2">Quick Links</h4>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#about"><p class="ms-3">About</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#"><p class="ms-3">Services</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#"><p class="ms-3">Plans</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#"><p class="ms-3">Contact</p></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 py-4 py-md-5">
                        <div>
                            <h4 class="py-2">Useful Links</h4>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="privacy.html"><p class="ms-3">Privacy</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="terms.html"><p class="ms-3">Terms</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#your-link"><p class="ms-3">Disclaimer</p></a>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <i class="fas fa-caret-right"></i>
                                <a href="#your-link"><p class="ms-3">FAQ</p></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 py-4 py-md-5">
                        <div class="d-flex align-items-center">
                            <h4>Made by</h4>
                        </div>
                        <p class="py-3 para-light text-decoration-underline"
                            ><a href="https://404enigma.tech/" target="_blank">404Enigma</a></p
                        >
                    </div>
                </div>
            </div>
        </section>

        <!-- Scripts -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>

        <script src="/js/main.js"></script>
        <script>
            console.log("dscsc");
            // API calls
            const register_supplier = document.getElementById("register_supplier");

            console.log(register_supplier);

            if (typeof register_supplier != "undefined" && register_supplier != null) {
                // Exists.
                register_supplier.addEventListener("submit", async (e) => {
                    e.preventDefault();

                    const formData = new FormData(e.target);
                    const data = Object.fromEntries(formData.entries());
                    console.log({ data });

                    axios({
                        method: "post",
                        url: "/supplier/register",
                        data,
                    })
                        .then(function (response) {
                            console.log(response);
                            location.assign("/supplier/list");
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                });
            }
        </script>
    </body>
</html>
